.button {
  padding: 0.5rem;
  margin: auto;
  opacity: 0.75;
  color: white;
  cursor: pointer;
  border-radius: 8%;
  box-shadow: 0 0 0 $color-secondary;
  background: $background-secondary;
  text-align: center;
  transition: opacity 0.5s;
  &:hover {
    opacity: 1;
  }
}
.secondary {
  background: $color-secondary;
}
.buttons {
  width: 20rem;
  margin: auto;
  display: flex;
  flex-direction: row;
}

/* MOBILE */
@media all and (max-width: $breakpoint-mobile) {
  .buttons {
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 90%;
    .button {
      margin-bottom: 1rem;
    }
  }
}
