.questions-list {
  text-align: center;
  &__title {
    margin: 1rem 0 2rem;
  }
}

/* MOBILE */
@media all and (max-width: $breakpoint-small-screen) {
  .card {
    width: 100%;
  }
  .questions-list {
    width: 100%;
    text-align: center;
    &__title {
      margin: 1rem 0 2rem;
    }
  }
}
