*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $background-prim;
}

a {
  text-decoration: none;
  color: inherit;
}

.line {
  width: 80%;
  height: 0.5px;
  background-color: rgba($color-primary, 0.3);
  margin: auto;
}

.mobile-only {
  display: none;
}
