@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Montserrat:wght@400;500&family=Roboto:wght@500&display=swap");

body {
  font-family: "Roboto", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
